a {
    color: black;
    font-weight: 600;
    display: block;
    text-decoration: none; /* Removes underline from links */
    transition: color 0.3s ease; /* Smooth transition for color change */
}

a:hover {
    color: #007BFF; /* Changes color on hover */
    text-decoration: underline; /* Adds underline on hover */
}
